body{
    background-image:url("https://images.pexels.com/photos/3773836/pexels-photo-3773836.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: 160%;
    background-position: 48% 65%;
}