body {
    min-height: 100%;
    min-width: 1036px;
}
.container-fluid {
    background-image: url("https://images.pexels.com/photos/3773836/pexels-photo-3773836.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: 160% 100%;
    background-position: 46% 40%;
    padding: 210px 21% 130px 21% !important;
}
.flex-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form {
    width: 90%;
    margin-bottom: 10px;
}
.loginInputGroup {
    margin: 10px auto 16px auto;
}
.input-group-prepend {
    border-top-left-radius: 30px !important;
}
.loginInput {
    border-bottom-right-radius: 40px !important;
}
#signinTopLeft {
    border-top-left-radius: 40px !important;
}
#signinTopRight {
    border-top-right-radius: 40px !important;
}
#signinBottomRow {
    border-bottom-left-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
}
.form-row>.col, .form-row>[class*=col-] {
    padding: 0px !important;
}
#login {
    border-radius: 16px 26px 16px 26px !important;
    padding: 10px 40px 14px 40px;
}
#signup {
    border-radius: 16px 26px 16px 26px !important;
    padding: 10px 40px 14px 40px;
    margin-top: 10px;
}
.linkbtn {
    border-radius: 20px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
}